:root {
  color-scheme: light dark;
  --background: lightblue;
  --foreground: black;
  --high-row-bg: cornflowerblue;
  --low-row-bg: tan;
}

html {
  min-width: 320px;
  max-width: 500px;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 125%;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

header {
  padding-bottom: 0.25em;
  border-bottom: dotted thin;
}

header h1 {
  color: #29b7ef;
  margin: 0;
}

header a {
  text-decoration: none;
}

.hidden {
  display: none;
}

#loading {
  margin-bottom: 1em;
}

table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

caption {
  padding: 0.5em;
}

th,
td {
  padding: 0.5em;
}

.prior {
  font-size: 66%;
  filter: contrast(50%) saturate(50%) blur(0.5px);
}

tbody > .future {
  font-weight: bold;
  filter: saturate(150%);
}

tbody > .future ~ .future {
  font-weight: normal;
  filter: none;
}

.high {
  background-color: var(--high-row-bg);
}

.low {
  background-color: var(--low-row-bg);
}

.request-info {
  margin: 1em 0;
  font-size: 66%;
}

.request-info td:first-child {
  border-right: dotted thin;
  white-space: nowrap;
}

.request-info td:first-child {
  width: 50%;
  text-align: end;
}

.request-info td {
  text-align: start;
}

.external {
  text-decoration: none;
}

footer {
  font-size: 75%;
  border-top: dotted thin;
  padding-top: 0.5em;
  margin: 0;
}

nav {
  padding: 0.5em;
}

nav button {
  padding: 0.25em 1em;
  border: dotted thin;
}

.active-route button {
  border: solid thin;
  filter: brightness(125%);
}

#coming-soon {
  border-top: dotted thin;
}

#coming-soon ul {
  padding-inline-start: 2em;
}

#coming-soon .todo-done {
  text-decoration: line-through;
}

#notes {
  border-top: dotted thin;
}

#refresh {
  font-size: 75%;
}

#stations {
  text-align: start;
  font-size: 66%;
  white-space-collapse: preserve;
}

#stations ul {
  padding-inline-start: 2em;
  line-height: 125%;
}

.single-station {
  margin: 0;
}

.single-station caption {
  font-size: 133%;
}

.error {
  color: darkred;
}

.info {
  color: gold;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

#about {
  font-size: 75%;
}

#about ul {
  text-align: left;
}
