:root {
  --background: lightblue;
  --foreground: black;
  --high-row-bg: lightyellow;
  --low-row-bg: lightgreen;
  --past-row-bg: lightgray;
  --past-row-fg: darkgray;
}

html,
body {
  max-width: 500px;
  overflow-x: hidden;
  padding: 0.5em 0;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: 150%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#title h1 {
  margin: 0;
  padding-bottom: 0.25em;
  border-bottom: dashed thin;
}

#title a {
  text-decoration: none;
}

.hidden {
  display: none;
}

#loading {
  margin-bottom: 1em;
}

table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

caption {
  padding: 0.5em;
}

th, td {
  padding: 0.5em;
}

.prior {
  font-size: 75%;
  color: var(--past-row-fg);
  background-color: var(--past-row-bg);
}

.high {
  background-color: var(--high-row-bg);
}

.low {
  background-color: var(--low-row-bg);
}

#info {
  margin: 1em 0em;
  font-size: 66%
}

#info td:first-child {
  border-right: dotted thin;
  white-space: nowrap;
}

#info td:first-child {
  text-align: end;
}

#info td {
  text-align: start;
}

#footer {
  font-size: 50%;
  text-align: start;
  margin: 1em;
}

#coming-soon {
  border-top: dashed thin;
}

#notes {
  border-top: dotted thin;
}
