<div id="sections">
    <div id="loading">
        <p>Getting Location...</p>
    </div>

    <div id="tides" class="hidden">
        <script id="tides-template" type="x-tmpl-mustache">
            <table id="tides-table">
                <caption class="top">{{station}}</caption>
            {{#tides}}
                <tr class="{{#lower}}{{type}}{{/lower}} {{prior}}" title="{{type}} at {{iso-date}}">
                    <td class="type">{{type}}</td>
                    <td class="time">{{time}}</td>
                    <td class="day">{{day}}</td>
                    <td class="date">{{date}}</td>
                </tr>
            {{/tides}}
            </table>

    <div id="info">
        <table id="request">
            <tr>
                <td>Request Time</td>
                <td>{{req_timestamp}}</td>
            </tr>
            <tr>
                <td>Request Location</td>
                <td>
                    <a href="http://maps.google.com/maps/place/{{req_lat}},{{req_lon}}/@{{req_lat}},{{req_lon}}
            ,12z" target="_blank"> {{req_lat}}, {{req_lon}} </a>
                </td>
            </tr>
             <tr>
                <td>Response Station</td>
                <td><a href="#stations">{{station}}</a></td>
            </tr>
            <tr>
                <td>Response Location</td>
                <td>
                    <a href="http://maps.google.com/maps/place/{{resp_lat}},{{resp_lon}}/@{{resp_lat}},{{resp_lon}}
            ,12z" target="_blank"> {{resp_lat}} , {{resp_lon}} </a>
                </td>
            </tr>
        </table>
    </div>
        </script>
    </div>

    <div id="stations" class="hidden">
        <script id="stations-template" type="x-tmpl-mustache">
            <h2>Stations</h2>
            <p>
            {{station_count}} stations cached: <a href="/#refresh-stations">Refresh</a>
    </p>
    <ul>
            {{#stations}}
                <li>
                {{org}},
                {{name}}
                @(<a href="http://maps.google.com/maps/place/{{lat}},{{lon}}" target="_blank">
                {{lat}},{{lon}}
                </a>)
                {{#noaa}}
                    NOAA ID: <a href=https://tidesandcurrents.noaa.gov/noaatidepredictions.html?id={{org_id}}
                    target="_blank">
                    {{org_id}}
                    </a>
                {{/noaa}}
                {{^noaa}}
                    {{org_id}}
                {{/noaa}}
                </li>
            {{/stations}}
            </ul>
        </script>
    </div>

    <div id="error" class="hidden">
        <script id="error-template" type="x-tmpl-mustache">
            <p>
                Error: {{status}}
            </p>
            <p>
                Try refreshing the <a href="#stations">Stations List</a>.
            </p>
        </script>
    </div>

</div>
